* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100%;
    background-color: #f0f7f06f;
    
}

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: rgb(216, 223, 222);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 80px;
}
#header img {
    height: 120px;
    width: 110px;
}
#navbar {
    display: flex;
    align-items: center;
}
#navbar li {
    padding: 0px 15px;
    list-style: none;
    position: relative;
}
a {
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3e ease;
}

/* Home page */
#hero {
    background-image: url(background.jpg);
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 10% right 0%;
    background-position-x: 160px;
    padding-left: 90px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    
}
#hero h4 {
    padding-bottom: 5px;
    font-size: 25px;
}
#hero h1 {
    color: rgb(17, 168, 168);
    padding-bottom: 15px;
}
h2 {
    font-size: 37px;

}
p span {
    color: red;
}
#btn {
   height: 30px;
   width: 120px;
   border-radius: 15px;
   font-size: 15px;
   background-color: rgb(62, 65, 50);
   color: rgb(120, 255, 1);
   font-weight: bold;
}
#btn:hover {
    transition: 0.3e;
    color: gold;
    background-color: rgb(192, 23, 155);
}

#features {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-left: 40px;
    padding-right: 40px;
}
.box1 {
    padding-top: 8px;
    font-size: 18px;
    width: 160px;
    height: 170px;
    background-color: rgb(239, 239, 234);
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 0px solid #eff2f2;
    border-radius: 8px;
    
}
.box1:hover {
    box-shadow: 10px 10px 60px rgba(0, 0, 0, 0.01);
}

h6 {
    height: 21px;
    width: 110px;
    background-color: rgb(73, 197, 197);
    text-align: center;
    display: inline-block;
    border-radius: 8px;
    margin-top: 12px;
    cursor: pointer;
    padding-top: 3px;
}

#f1 {
    background-color:rgb(224, 207, 198);
}
#f2 {
    background-color: rgb(202, 195, 244);
}
#f3 {
    background-color: rgb(155, 202, 202);
}
#f4 {
    background-color: rgb(96, 245, 195);
}
#f5 {
    background-color: rgb(254, 187, 61);
}
#f6 {
    background-color: rgb(152, 248, 57);
}

.product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    flex-wrap: wrap;
    margin-left: -30px;
}
#feature1 {
    margin-left: 70px;
    margin-right: 45px;
    text-align: center;
    margin-top: 50px;
  
}
#feature1 p{
    font-size: small;
    margin-top: 7px;
    margin-bottom: 40px;
}

#feature1 .pro1 {
    position: relative;
    width: 15%;
    min-width: 200px;
    margin-top: 20px;
    padding: 10px 12px;
    border: 1px solid rgb(207, 201, 191);
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    transition: 0.2s ease;
    
    
    
}
#feature1 .pro1:hover {
    box-shadow: 20px 20px 30px rgba(0.1, 0.1, 0.1, 0.1);
    transition: 0.6s ease;

    
}
#feature1 .pro1 img {
    
    width: 100%;
    border-radius: 20px;
}
#feature1 .pro1 .des {
    text-align: start;
    padding: 10px 0;
    
}
#feature1 .pro1 h5 {
    margin-top: 7px;
}
#feature1 .pro1 .des .star{
    font-size: 12px;
    color: rgba(243, 181, 25);
}
#feature1 .pro1 .des h4 {
    padding-top: 8px;
    color: #21c2cd;
    font-size: 15px;
    font-weight: 700;
}

#feature1 .pro1 .cart {
    height: 40px;
    width: 40px;
    color: #ced8d9;
    border: 1px solid wheat;
    position: absolute;
    line-height: 40px;
    border-radius: 50px;
    bottom: 10px;
    right: 10px;
    background-color: #3d725d;
}

#bg {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 75px;
    background-image: url(Banner/b2.jpg);
    color: white;
    height: 200px;
    width: 100%;
    
}
#bg button {
    margin-top: 20px;
    width: 130px;
    height: 32px;
    font-weight: bold;
    background-color: #09cd9c;
    cursor: pointer; 
    transition: 0.1s ease;
    
}
#bg button:hover {
    background-color: rgb(255, 247, 4);
}
#bg span{
    color: red;
}

#bg h1{
    margin-top: 10px;
}
#new {
    font-size: 40px;
}

#layout {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 60px 40px;
    
}
#layout .first {
     background-image: url(Banner/b17.jpg);
     height: 330px;
     width: 707px;
     padding: 40px 40px;
     padding-top: 100px;
     background-size: cover;
     
}
#layout .second {
     background-image: url(Banner/b10.jpg);
     height: 330px;
     width: 707px;
     padding-left: 40px;
     padding-top: 100px; 
     background-size: cover;
}

#layout .first button {
    height: 30px;
    width: 90px;
    background-color: none;
    border-radius: 3px;
    border: 0px solid white;
    cursor: pointer;
    transition: 0.3s ease;
}
#layout .second button {
    height: 30px;
    width: 90px;
    background-color: none;
    border-radius: 3px;
    border: 0px solid white;
    cursor: pointer;
    transition: 0.3s ease;
}
#layout .first button:hover{
    background-color: #09cd9c;
    
}
#layout .second button:hover{
    background-color: #09cd9c;

}
#layout2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
}
#layout2 .f1 {
    background-image: url(Banner/b7.jpg);
    width: 30%;
    height: 250px;
    background-size: cover;
    padding-top: 100px;
    padding-left: 20px;
    color: white;
}
#layout2 .f2 {
    background-image: url(Banner/b4.jpg);
    width: 30%;
    height: 250px;
    background-size: cover;
    padding-top: 100px;
    padding-left: 20px;
    color: white;
}
#layout2 .f3 {
    background-image: url(Banner/b18.jpg);
    width: 30%;
    height: 250px;
    background-size: cover;
    padding-top: 100px;
    padding-left: 20px;
    color: white;
}
#layout2 h2 {
    font-size: 27px;
}
#layout2 h4 {
    color: red;
    margin-top: 5px;

}

.news{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 55px;
    background-image: url(Banner/b1.jpg);
    height: 190px;
    color: white;
}
.nletter p {
    margin-top: 5px;
} 
.nletter p span {
    color: red;
}
.mail {
    height: 30px;
    padding-left: 10px;
    border-radius: 4px;
}
#signup {
    height: 30px;
    width: 75px;
    margin-left: -5px;
    border-radius: 4px;
    background-color: #09cd9c;
    cursor: pointer;
}
#signup:hover {
    background-color: rgb(222, 255, 7);
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 55px;
}

footer h4 {
    margin-top: 25px;
    margin-bottom: 15px;
}
footer p {
    margin-top: 6px;
    font-size: 13px;
    
}
footer span {
    font-weight: bold;
}
footer h4 {
    margin-top: 15px;
    margin-bottom: 15px;
}
footer .logo .follow .icon #fac1:hover {
    color: #ff04b4;
}
footer .logo .follow .icon #twi:hover {
    color: #04eaff;
}
footer .logo .follow .icon #ins:hover {
    color: #ff0404;
}
footer .logo .follow .icon #pin:hover {
    color: #04ff04;
}
footer .logo .follow .icon #you:hover {
    color: #ff0436;
}
footer a {
    margin-top: 15px;
    font-weight: normal;
    padding-top: 10px;
    font-size: 13px;
}
footer a:hover{
    color: #ff04b4;
}

.col1 .install img {
    height: 40px;
    margin-top: 9px;
    cursor: pointer;
}
.copyright {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 40px;
    font-size: 14px;
}
footer i {
    margin-left: 0px;
}
#mobile {
    display: none;
    align-items: center;
}
#close {
    display: none;
}

/* Start Media Query */

@media (max-width: 799px) 
{

    #feature1 {
        margin: 25%;
        justify-content: center;
    }

    #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -330px;
    height: 100vh;
    width: 300px;
    background-color: #fafefe;
    padding: 80px 0 0 10px;

    }

    #navbar .active {
        right: 0px;
    }

    #navbar li {
        margin-bottom: 25px;
    }

    #mobile {
    display: flex;
    align-items: center;
    }

    #mobile i {
        color: #0c0a0a1a;
        font-size: 24px;
        padding-left: 20px;
    }
    #close {
        position: absolute;
        top: 30px;
        left: 30px;
        color: rgb(2, 2, 2);
        font-size: 24px;
    }
    #hero {
        height: 70vh;
        padding: 0 80px;
        background-position: top 30% right 30%;
    }
    #features {
    justify-content: center;
    }

    .box1 {
        margin: 15px 15px;
    }

    #layout .first {
   justify-content: center;

   }
   
    #feature1 .pro1 {
        margin: 30px;
        justify-content: center;
    }
    #layout .first {
     height: 330px;
     width: 705px;
    }
    #layout .second {
     height: 330px;
     width: 705px;
    } 
    #layout2 {
        margin: 20px 20px;
    }
    #layout2 .f1 {
    width: 30%;
    height: 250px;
    background-size: cover;
    }
    .news {
    margin-top: 55px;
    height: 190px;
    color: white;
    }
    .news .mail {
        width: 100%;
        height: 40px;
    }
    #signup {
    height: 40px;
    width: 80px;
    margin-left: 1px;
    margin-top: 5px;
    }
    footer {
        margin-bottom: 20px;
    }
}

@media (max-width: 477) {
    #header {
    padding: 10px 30px;
    }
    #hero {
        height: 70vh;
        padding: 0 80px;
        background-position: top 30% right 30%;
    }
    #features {
       justify-content: center;
    }

    .box1 {
        margin: 15px 15px;
    }

    #layout .first {
   justify-content: center;

   }
   
    #feature1 .pro1 {
        justify-content: center;
    }
    .news {
    margin-top: 55px;
    height: 190px;
    color: white;
    }
    .news .mail {
        width: 100%;
        height: 40px;
    }
    #signup {
    height: 40px;
    width: 80px;
    }
    footer {
        margin-bottom: 20px;
    }
}